html, body {
    height: 100%;
}
#root {
    height: 100%;
}
.background_container{
    height: 100%;
    background-color: #fb3;
}


@media (min-width: 576px) {
    .card-columns{
        column-count: 2 !important;
    }
}


@media (min-width: 768px) {
    .card-columns{
        column-count: 2 !important;
    }
}


@media (min-width: 992px) {
    .card-columns{
        column-count: 4 !important;
    }
}


@media (min-width: 1200px) {
    .card-columns{
        column-count: 4 !important;
    }
}

